<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>My Blog</title>
  </head>
  <body>
    <nav>
        <ul>
          {% for page in collections.page %}
          <li>{{ page.data.navTitle }}</li>
          {% endfor %}
        </ul>
    </nav>
    <main tabindex="-1" class="content">
      <h1>{{ pageTitle }}</h1>
      {{ content }}
    </main>
  </body>
</html>